@import "../../vars.css";

.container{
    position: relative;
    /*background-color: rgba(83, 82, 82, 0.6);*/
    border-radius: 15px;
    padding: 73px 73px 0 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    text-align: center;
    color: var(--color-text-white);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-shadow: 5px 10px 4px rgba(0, 0, 0, 0.95);
}

.content{

}

.aboutImg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 35%;
}

.aboutItem{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: navajowhite;
    min-height: 30em;
    padding: 20px 0;
}

.aboutItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /*border-radius: 20px;*/
    /*list-style: none;*/
    /*padding: 25px;*/
    /*background-image: linear-gradient(*/
    /*90deg,*/
    /*rgba(165,215,232, 0.42) 60%,*/
    /*rgba(255,255,255,0) 100%*/
    /*);*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*transition: 0.4s;*/
    /*text-align: justify;*/
}

/*.aboutItem:hover{*/
/*    background-size: 100% 100%;*/
/*}*/

/*.aboutItem p{*/
/*    font-size: 20px;*/
/*}*/

.aboutItemsContent{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


@media  screen and (max-width: 830px){
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-top: 25px;
    }
    .content{
        flex-direction: column;
    }

    .aboutImg{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
    }
    .aboutItem{
        padding: 15px;
    }
    .aboutItemText p{
        font-size: 20px;
    }
}

@media  screen and (max-width: 600px){
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-top: 25px;
    }
    .content{
        flex-direction: column;
    }

    .aboutImg{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
    }

    .aboutItem{
        padding: 15px;
    }
    .aboutItemText p{
        font-size: 20px;
    }
}