footer {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 180px;
    background-color: var(--color-bg-navbar);
    border-top: 1px solid var(--color-border);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialIcons,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.socialIcons {
    margin-bottom: 20px;
}

.socialIcons li,
.menu li {
    list-style: none;
}

.socialIcons li a {
    font-size: 1.75em;
    color: var(--color-social-icons);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.socialIcons li a:hover {
    transform: translateY(-10px);
}

.menu li a {
    font-size: 1em;
    color: var(--color-text);
    margin: 0 10px;
    text-decoration: none;
    opacity: 0.75;
}

.menu li a:hover {
    opacity: 1;
}

.text {
    color: var(--color-text);
    text-align: center;
    margin-top: 15px;
    font-size: 0.75em;
}